$Rojo-bullet: #f64552;
$Gris-bullet: #f8f8f8;
$Amarillo-botones: #fbd43b;
$Gris-dark: #212121;
$Gris-letra-soft: #8f8f8f;
$Turquesa-Terminos: #00c3a3;
$Morado-Entrada-Numeros: #49233b;
$Moradolight: #451e36;
$Moradodark: #38052a;




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#424242;
}

.carousel-container{
    display: grid;

}

.amarillo{
    background-color: $Amarillo-botones;
}

.carousel .carousel-slider{
    height: 60vh !important;
    
}

img{
    height: 50%;
}


