<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <div class="app-container">
        <div class="cabecera-container">
           <div></div>
            <div class="img-app">
                <img src="../img/icons/happy-face.png" alt="">
            </div>
            <div>
                <p><a href="#">Mostrar Saldo</a></p>
            </div>
        </div>
        <div>
            <h5>ULTIMOS MOVIMIENTOS</h5>

            <div>
                <div>
                    <img src="../img/icons/icon.png" alt>
                </div>
                <div>
                    <p>¿Aún no realizas tu primer pago? Es rapido y sencillo</p>
                </div>
                <div>
                    <div>
                        <img src="../img/icons/send.png" alt="">
                        <h5>ENVIAR PAGO</h5>
                    </div>
                    <div>
                        <img src="../img/icons/code-qr.png" alt="">
                        <h5>RECIBIR PAGO</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <script src="../assets/registro.js"></script>
</body>

</html>
