<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
  <div class="ingresa-contenedor">
        <!--imagen-->
        <div class="img-cabecera">
            <img src="../img/icons/message.png" alt="">
        </div>
        <!--texto-->
        <div class="texto-centro">
            <h5>Ahora ingresa tu código</h5>
            <p >Enviamos un SMS con el codigo de validación al número</p>
            <p id="confirmacionTel"></p>
        </div>
        <!--form-->
        <div class="form-container">

                    <form class="inputs" id="formularioCodigo">

                        <div class="">
                            <div class="input-field ">
                                <i class="material-icons large prefix">lock_outline</i>

                                <input id="codigoUsuario" type="text" class="validate">
                                <label for="icon_telephone"></label>
                            </div>
                        </div>

                    </form>
                </div>
                

                
        </div>
    
   
   
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="../assets/ingresa.js"></script>
</body>

</html>
