<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
  <div class="registro-contenedor">
        <!--imagen-->
        <div>
            <img src="../img/icons/message.png" alt="">
        </div>
        <!--texto-->
        <div>
            <h5>Ahora ingresa tu código</h5>
            <p id="confirmacionTel">Enviamos un SMS con el codigo de validación al número</p>
        </div>
        <!--form-->
        <div>

                    <form class="col s12" id="formularioCodigo">

                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons large prefix">lock_outline</i>

                                <input id="telefono" type="tel" class="validate">
                                <label for="icon_telephone"></label>
                            </div>
                        </div>
                                        <button class="btn amarillo " id="registroContinuar" href="#" disabled="disabled">registrarse</button>
                    </form>
                </div>
                

                
        </div>
    
   
   
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="../assets/registro.js"></script>
</body>

</html>
