<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <!--Contenedor-->
    <div class="registro-contenedor">
        <!--imagen-->
        <div>
            <img src="../img/icons/phone.png" alt="">
        </div>
        <!--texto-->
        <div>
            <h5>Para comenzar validemos tu número</h5>
            <p>Recibirásn un SMS con el código de validación</p>
        </div>
        <!--form-->
        <div>
            <form action="">
                <div class="row">
                    <form class="col s12">

                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons large prefix">phone_iphone</i>

                                <input id="icon_telephone" type="tel" class="validate">
                                <label for="icon_telephone">(+52)</label>
                            </div>
                        </div>
                    </form>
                </div>
                <p>
                    <input type="checkbox" id="test5" />
                    <label for="test5">Red</label>
                </p>
                <input type="submit" value="continuar">
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="../assets/registro.js"></script>
</body>
</html>