<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <!--Contenedor-->
    <div class="registro-contenedor">
        <!--imagen-->
        <div class="img-cabecera">
            <img src="../img/icons/phone.png" alt="">
        </div>
        <!--texto-->
        <div class="texto-centro">
            <h3>Para comenzar validemos tu número</h3>
            <p>Recibirásn un SMS con el código de validación</p>
        </div>
        <!--form-->
        
            
                <div class="form-container" >
                    <form class="inputs" id="formulario">

                        <div>
                            <div class="input-field">
                                <i class="material-icons large prefix">phone_iphone</i>

                                <input id="telefono" type="tel" class="validate">
                                <label for="icon_telephone">(+52)</label>
                            </div>
                        </div>
                        <p>
                            <input type="checkbox" id="test5" />
                            <label for="test5">Acepto <a href="#">Terminos y condiciones </a> </label>
                        </p>
                        <button class="btn amarillo texto-centro " id="registroContinuar" href="#" disabled="disabled">registrarse</button>
                    </form>
                </div>

            
        </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="../assets/registro.js"></script>
</body>

</html>
