<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <div class="registro-contenedor texto-centro">
        <!--imagen-->
        <div class="img-cabecera">
            <img src="../img/icons/lockone.png" alt="">
        </div>
        <!--texto-->
        <div>
            <h5>Crea tu usuario YAPE</h5>
            <p>Ingresa un nombre email y clave de usuario</p>
        </div>
        <!--form-->
        <div class="texto-centro">

            <form class="col s12 form-padding " id="formularioUsuario">

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons large prefix">face</i>

                        <input id="usuarioNombre" type="text" class="validate">
                        <label for="face"></label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons large prefix">mail_outline</i>

                        <input id="usuarioCorreo" type="text" class="validate">
                        <label for="mail_outline"></label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons large prefix">lock_outline</i>

                        <input id="usuarioContrasena" type="text" class="validate">
                        <label for="lock_outline"></label>
                    </div>

                </div>
                <input type="submit" class="btn amarillo " id="crearCuenta" href="#" disabled="disabled" value="Crear Cuenta">
                
            </form>
        </div>



    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="../assets/usuario.js"></script>
</body>

</html>
